header{
    background-color: darkgray;
    height: 100px;
}
header nav img{
    margin-left: 70px;
    display: inline-block;
    margin-top: 10px;
    background-color: black;
    color: white;
    
}
header nav ul li{
    float:right;
    margin-top:-79px;
margin-left: -79px;
padding: 0px;
margin-right: 99px;

}
main div img {
    margin-right: auto;
    margin-left:auto ;
    display: block;
    margin-top: 30px;


}
main div ul{
    margin-left: 267px;
    display: block;
    margin-top: 30px;

}
main div ul li{
    display: inline-block;
    padding:9px;
}
div article img{
    float: left;
    margin-left: 272px;
    margin-top: 30px;
}
div article p{
    width:480px;
    float: right;
    margin-top: 30px;
    margin-right: 244px;
    text-align: justify;
    overflow:scroll;
     height:360px;
}
input{
    float: right;
    margin-right: 447px;
    box-sizing: border-box;
    width:162px;
    height: 44px;
    border-radius: 9px;
    background-color: black;
    color: white;


}
footer{
height: 100px;
background-color: darkgray;
margin-top: 477px;

}